<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>



<% if user_signed_in? %>
  <p>Usu치rio: <%= current_user.email %> est치 logado</p>
  <%else%>
  <p>Sem usu치rio logado</p>
<% end %>


<% if admin_signed_in? %>
  <p>Admin: <%= current_admin.email %> est치 logado</p>
  <%else%>
  <p>Sem Administrador logado</p>
<% end %>